* {
    font-family: 'Courier Prime', monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}
  
header {
    flex: 0 80px;
    flex-direction: row;
}

menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
}

menu .nav-item {
    padding: 0 0.5em;
}

.navbar-brand {
    padding-left: 0.5em;
    border-bottom: solid rgb(182, 182, 182) thin;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#timer-container, #score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input1, #input2, #input3, #input4, #input5, #input6, #input7 {
    max-width: 4em;
    aspect-ratio: 1/1;
    margin: 2.5px;
}

footer {
    flex: 0 30px;
    font-size: small;
}

footer a {
    float: right;
}

@media (max-height: 600px) {
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}

* {
    touch-action: manipulation;
}  